# Default ignored files
/shelf/
/workspace.xml
# Файлы виртуального окружения
.venv/
venv/

# Кэш Python
__pycache__/
*.py[cod]

# Скрытые файлы
.DS_Store
*.swp

# IDE (PyCharm)
.idea/
.vscode/

# Логи и настройки
*.log
.env

# Sphinx
docs/build/